<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script type="text/javascript">
// setup some JSON to use
var cars = {"data" : [
	{ "make":"Porsche", "model":"911S" },
	{ "make":"Mercedes-Benz", "model":"220SE" },
	{ "make":"Jaguar","model": "Mark VII" }
]};

//var Joe = "a";
//var name = {{name}};

window.onload = function() {
	// setup the button click
	document.getElementById("theButton").onclick = function() {
		doWork()
	};
}

function doWork() {
	// ajax the JSON to the server
	console.log(cars)
	obj = JSON.parse('{"name":"John", "age":30, "city":"New York"}')
	console.log(obj)
	$.post("receiver", cars, function(){

	});
	// stop link reloading the page
 event.preventDefault();
}
</script>
This will send data using AJAX to Python:4<br /><br />
<a href="" id="theButton">Click Me</a>